.form{

    background-color: black;
    min-height: 100vh;
    width: 82.5vw;
    margin-left: 16vw;

}
.input{
    margin-top: 180px;
    margin-left: 300px;
    width:40vw;
    height: 50px;
    color: white;
}
.button{
    height: 53px;
}